body {
  background-color: rgb(184, 132, 46);
}

#back-wall {
  background-color: #8b4513;
  height: 60%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#offwhite-character {
  background-color: ghostwhite;
  height: 550px;
  width: 300px;
  position: absolute;
  top: 20%;
  left: 17.5%;
}

#white-hat {
  border-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: ghostwhite; 
  border-left-color: transparent;
  border-width: 0 120px 140px 180px;
  height: 0;
  width: 0;
  position: absolute;
  top: -140px;
  left: 0;
}

#black-mask {
  background-color: rgb(45,31,19);
  height: 50px;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 1;
}

#gray-instrument {
  background-color: rgb(167, 162, 117);
  height: 40%;
  width: 15%;
  position: absolute;
  top: 50px;
  left: 125px;
  z-index: 1;
}

.black-dot {
  background-color: rgb(45, 31, 19);
  border-radius: 50%;
  height: 10px;
  margin: auto;
  margin-top: 65%;
  width: 10px;
  display: block;
}

#tan-table {
  background-color: #d2691e;
  height: 140px;
  width: 450px;
  position: absolute; 
  top: 275px;
  left: 15px;
  z-index: 1;
}

#black-character {
  background-color: rgb(45, 31, 19);
  height: 500px;
  width: 300px;
  position: absolute;
  top: 30%;
  left: 59%;
}

#black-hat {
  border-style: solid;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent; 
  border-left-color: rgb(45, 31, 19);
  border-width: 150px 0 0 300px;
  height: 0;
  width: 0;
  position: absolute;
  top: -150px;
  left: 0;
}

#gray-mask {
  background-color: rgb(167, 162, 117);
  height: 150px;
  width: 150px;
  position: absolute;
  top: -10px;
  left: 70px;
}

#white-paper {
  background-color: ghostwhite;
  height: 100px;
  width: 400px; 
  position: absolute;
  top: 250px;
  left: -150px;
  z-index: 1;
}

.fa-music {
  margin-top: 8%;
  margin-left: 13%;
  display: inline-block;
}

.blue {
  background-color: #1e90ff;
}

#blue-left {
  height: 300px;
  width: 500px;
  position: absolute;
  top: 20%;
  left: 20%;
}

#blue-right {
  height: 300px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 40%;
}

#orange-character {
  background-color: rgb(240, 78, 42);
  height: 550px;
  width: 250px;
  position: absolute;
  top: 25%;
  left: 40%;
}

#black-round-hat {
  background-color: rgb(45, 31, 19);
  border-radius: 50%;
  height: 150px;
  width: 180px;
  position: absolute;
  top: -100px;
  left: 5px;
  z-index: -1;
}

#eyes-div {
  height: 50px;
  width: 180px;
  position: absolute;
  top: -40px;
  left: 20px;
  z-index: 3;
}

#triangles {
  height: 550px;
  width: 250px;
}

.triangle {
  border-style: solid;
  border-top-color: transparent;
  border-right-color: gold;
  border-bottom-color: transparent; 
  border-left-color: transparent;
  border-width: 42px 45px 45px 0;
  height: 0;
  width: 0;
  display: inline-block;
}

#guitar {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 120px;
  left: 0px;
  z-index: 3;
}

.guitar {
  background-color: goldenrod;
  border-radius: 50%;
  height: 120px;
  width: 150px;
}

#guitar-left {
  position: absolute;
  left: 0px;
}

#guitar-right {
  position: absolute;
  left: 100px;
}

.fa-bars {
  margin-top: 30%;
  margin-left: 40%;
  display: block;
}

#guitar-neck {
  background-color: #d2691e;
  height: 30px;
  width: 200px;
  position: absolute;
  top: 45px;
  left: 200px;
  z-index: 3;
}

.eyes {
  background-color: #8b4513;
  border-radius: 20px 50%;
  height: 20px;
  width: 35px;
}

.right {
  position: absolute;
  top: 15px;
  right: 30px;
}

.left {
  position: absolute;
  top: 15px;
  left: 30px;
}

.fas {
  font-size: 30px;
}